<!doctype html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>unserscore.js</title>
</head>
<body>
	
	<script src="js/underscore-min.js"></script>
	<script>
		(function(){
			//lesson10

			var x;
			var user = {
				name: 'taguchi',
				score: 50,
				web: 'http://dotinstall.com'
			}

			// <% %> : javascriptのプログラムを記述し、実行することができる。
			// <%= %> : そのまま出力する。
			// <%- %> : エスケープして出力する。ユーザーからの値を受け渡し刷る時など

			var tpl = "<li><%- name %>(<%- score %>)</li>";
			x = _.template(tpl,user);

			console.log(x);

		})();
	</script>
</body>
</html>